body {
  background-color:#131313;
  font-family:'Quicksand',sans-serif;
}

.icon,h4{transition:all .3s;}
h4{width:fit-content;margin:auto;}
h4,.icon{filter:drop-shadow(1px 2px 3px #000);}
h4:hover,.icon:hover{transform:scale(1.05);}

.logo {
  top:calc(50% - 32px);
  font-size:64px;
  line-height:64px;
  overflow:hidden;
}
.logo,.down{
  position:absolute;
  width:100%;
  text-align:center;
  animation:fadeIn 3s;
}
.down{top:85%;}

.strado + .strado {
  background:radial-gradient(circle farthest-side at 102% 65%,#0000CC,rgba(0,0,130,.7),rgba(0,0,83,.3),rgba(0,0,0,0));
  animation-name:stradoright;
}
.strado {
  z-index:-10;
  position:fixed;
  width:100%;
  height:100%;
  background:radial-gradient(circle farthest-side at -2% 45%,#A30000,rgba(130,0,0,.7),rgba(83,0,0,.3),rgba(0,0,0,0));
  animation:stradoleft 8s;
  animation-iteration-count:infinite;
}
* {
  margin:0px;
  color:#F0F0F0;
}

@-webkit-keyframes fadeIn {
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes stradoleft {
  20%,30%{opacity:.8;}
  25% {opacity:.5;}
  0%,50%,100%{opacity:0;}
}
@keyframes stradoright {
  0%,50%,100%{opacity:0;}
  70%,80%{opacity:.8;}
  75%{opacity:.5;}
}